name: Validate Links

on:
  push:
    branches: [devel, stable-*]
  pull_request:
    branches: [devel, stable-*]

jobs:
  links:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Validate links
        run: make links
